API_BASE_URL=server_base_url
ULCA_BASE_URL=bashini_ulca_url
ULCA_API_KEY=bashini_ulca_api_key
ULCA_USER_ID=bashini_ulca_user_id
PIPELINE_ID=bashini_pipeline_id
ENCRYPTION_KEY=your_encryption_key
GOOGLE_CLIENT_ID=your_google_web_client_id
MMI_CLIENT_SECRET=your_mmi_client_secret
MMI_API_KEY=your_mmi_api_key
